.container {
    width: 1600px;
    margin-left: 50px;
  }
  
  #graphic {
    padding-top: 60px;    
  }
  
  
  #sections {
    position: relative;
    display: inline-block;
    width: 400px;
    left:1250px;
    top: 0px;
    z-index: 90;
    padding-bottom: 200px;
  }
  
  .step {
    margin-bottom: 200px;
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 16px;
    line-height: 23px;
    color: #767678;
  }
  
  #sections .title {
    font-family: Arial,Helvetica,"san-serif";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #262626;
    line-height: 1.2em;
  }
  
  #extra-space {
    height: 300px;
  }
  
  #vis {
    display: inline-block;
    position: fixed;
    top: 60px;
    z-index: 1;
    margin-left: 0;
    /* height: 600px; */
    /* width: 600px; */
    /* background-color: #ddd; */
  }
  
  #vis .title {
    font-size:120px;
    text-anchor: middle;
  }
  
  #vis .sub-title {
    font-size:80px;
    text-anchor: middle;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
  }
  
  .highlight {
    fill: #008080;
    font-weight: bold;
  }
  
  .cough-arrow {
    stroke: #000;
    stroke-width: 4px;
  
  }
  



.legend {
    font-size: 12px;
}
rect {
    stroke-width: 2;
}

#bar0{
    fill: #8CA2AB;    
}

#bar1 {
    fill: #75686c;    
}

#bar2 {
    fill: #CD59B1;
    
}

#bar3 {
    fill: #A97DD8;
    
}

#bar4 {
    fill: #F38787;
    
}

#bar5 {
    fill: #EF8D5D;
    
}

#bar6 {
    fill:#3FB68E;
    
}

#bar7 {
    fill:#4D78A2;
    
}

#bar8 {
    fill:#3AB5C2;
    
}

#bar9 {
    fill:  #6973F6;
    
}

#bar10 {
    fill: #74ABE2;
    
}







text {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}

text.title {
  font-size: 24px;
  font-weight: 500;
}

text.subTitle {
  font-weight: 500;
  fill: #777777;
}

text.caption {
  font-weight: 400;
  font-size: 14px;
  fill: #777777;
}

text.label {
  font-weight: 600;
}

text.valueLabel {
  font-weight: 300;
}

text.yearText {
  font-size: 64px;
  font-weight: 700;
  opacity: 0.25;
}

.tick text {
  fill: #777777;
}

.xAxis .tick:nth-child(2) text {
  text-anchor: start;
}

.tick line {
  shape-rendering: CrispEdges;
  stroke: #dddddd;
}

.tick line.origin {
  stroke: #aaaaaa;
}

path.domain {
  display: none;
}



svg circle {
  fill: black;
  opacity: .8;
  /* stroke: white; */
  }
  svg circle:hover {
  fill: green;
  /* stroke: #333; */
  }
  
  svg text {
  pointer-events: none;
  }

  svg .municipality {
  fill: #efefef;
  stroke: #fff;
  }
  svg .municipality-label {
  fill: #bbb;
  font-size: 12px;
  font-weight: 300;
  text-anchor: middle;
  }
  svg #map_WC1 text {
  color: #333;
  font-size: 10px;
  text-anchor: middle;
  }
  svg places_WC1 text {
  color: #777;
  font: 10px fantasy;
  text-anchor: start;
  }

  #tooltipWC1 {	
    position: absolute;			
    text-align: center;			
    width: 80px;					
    height: 30px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#tooltipYJ1 {
  position: absolute;
  opacity: 0;
  width: 40px;
  height: 20px;
  line-height: 20px;
  transition: all 0.3s;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}



/*Keondo's multi linechart visual*/
body {
  font: 12px sans-serif;
}
.area {
  fill: #6d95f8;
}
#small-multiples > div {
  display: inline-block;
  height: 185px;
  width: 50%
}  
@media (min-width: 600px) {
  #small-multiples > div {
    width: 50%
  }
}
@media (min-width: 800px) {
  #small-multiples > div {
    width: 50%
  }
}
@media (min-width: 1200px) {
  #small-multiples > div {
    width: 30%
  }
}
.tooltip__ .x-axis .tick {
  display: none;
}
.x-axis .domain, .x-axis .tick path,
.y-axis .domain, .y-axis .tick path {
  display: none;
}
.plot-area {
  overflow: visible !important;
}
.x-axis {
  height: 1.5em !important;
}
.gridline-x {
  stroke: white;
}
.point {
  fill: black;
}
.point text {
  text-anchor: middle;
  transform: translateY(-10px);
  font-size: 10px;
  stroke: none;
}
.bottom-handle {
  text-anchor: middle;
  alignment-baseline: hanging;
   font-size: 10px;
  transform: translateY(1.5em);
}
.top-handle {
  display: none;
}
.annotation-line line {
  display: none;
}